@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.form {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 4 / span 3;
  }

  @include on-desktop {
    grid-column: 8 / -1;
  }

  &__label {
    display: flex;
    margin-bottom: 16px;
    &--textarea {
      margin-bottom: 32px;
    }
  }

  &__input {
    width: 100%;
    height: 48px;
    padding: 14px 11px;
    font-family: $font-family;
    font-size: 14px;
    color: $main-dark;
    background-color: $input-color;
    border: 1px solid transparent;
    outline: none;

    transition: border $animation;

    &:hover {
      border: 1px solid $input-hover;
    }

    &:focus,
    &:active {
      border: 1px solid $main-dark;
    }

    &::placeholder {
      color: $placeholder;
    }

    &--textarea {
      height: 144px;
      resize: none;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
