@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.header {
  padding-top: 25px;
  height: 100vh;

  @include bg('../images/mobile/header-bg-mob.png', cover);

  @include on-tablet {
    background-image: url('../images/tablet/header-bg-tab.png');
    padding-top: 50px;
  }

  @include on-desktop {
    background-image: url('../images/desktop/header-bg-desk.png');
  }

  &__top {
    @include display-flex(space-between);
  }

  &__icons {
    position: relative;
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 55px;
    }
  }

  &__phone {
    position: relative;

    &-list {
      position: absolute;
      display: none;
      right: -35px;
      width: 201px;
      height: 116px;
      color: $white;

      @media (max-width: 743px) {
        padding-top: 10px;
      }

      @include on-tablet {
        right: 30px;
        top: -38px;
        width: 261px;
        padding-right: 60px;

        transform: scale(1);
      }
    }

    &:hover .header__phone-list {
      display: block;
    }

    &-item {
      text-align: right;
    }

    &-number {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
        transform: scale(0);
        transition: transform 0.3s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &__icon {
    display: block;
    height: 24px;
    width: 24px;

    @include on-tablet {
      width: 32px;
      height: 32px;
    }

    &--phone {
      @include bg('../images/icon-phone.svg');
    }
  }

  &__title {
    margin-top: 129px;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-align: center;
    color: $white;

    @include on-tablet {
      margin-top: 141px;
      font-size: 64px;
      letter-spacing: -0.02em;
    }

    @include on-desktop {
      margin-top: 83px;
    }
  }
}
