@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.nav {
  margin-bottom: 32px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;

      @include on-tablet {
        margin-bottom: 32px;
      }
    }
  }

  &__link {
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px solid transparent;
    transition: border-bottom $animation;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}
