@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.section__title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
    letter-spacing: -0.03em;
  }
}
