@use './vars' as *;
@use './mixins' as *;

body {
  font-family: $font-family;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.69;
  color: $main-dark;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  display: grid;
  row-gap: 100px;
  padding-block: 100px;

  @include on-tablet {
    row-gap: 140px;
    padding-block: 140px;
  }

  @include on-desktop {
    padding-block: 138px;
  }
}

.container {
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;

  @include on-mobile {
    max-width: $mobile;
  }

  @include on-tablet {
    max-width: $tablet;
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: $desktop;
    padding-inline: 120px;
  }
}
